@{
  Layout = "_Layout";
}

@model Animal_Shelter.Models.Animal

<div class="container">
  <h2>Animal Details</h2>
  <hr />
  
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <p>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</p>
  <p>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</p>
  <p>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</p>
  <p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</p>



<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.AnimalId })</p>
</div>